body
{
	ackground-color: #E8E6E6;
}
h1
{
	text-fill-color:black;
	-webkit-test-fill-color:black;
	color: pink;
	font-familly: caastellar;
	text-align: centre;
}


a:link
{
	color: white;
	text-decoration: none;
}
a:visited
{
	color:white;
	text-decoration: none;
}
/*a:hover
{
	transform:perspective(320px) translateZ(50px);
}*/
.main
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.naglowek
{
	width: 960px;
	background-color: rgba(0,178,255,0.8);
	/*background-color: #00B2FF;*/
	color: white;
	padding: 2px;
}

#logo
{
	text-align: center;
	font-size: 22px;
	float: left;
	width: 225px;
	font-family: 'Bangers', cursive;
}

#logo:hover
{
	transform:perspective(320px) translateZ(50px);
}

.wybor
{
	margin: 2px;
	border-radius:5px;
	border-style:solid;
    border-bottom-color:#F00;
	float: left;
	width: 150px;
	text-align: center;
	font-size: 20px;
	transition-duration:0.5s;
    -webkit-transition-duration:0.5s
}
.wybor:hover
{
	text-allign: center;
	background-color: #00B2FF;
	color: black;
	transform: scale(1.25);
}

a.wybor1
{
	display: block;
	width: 150px;
	
}
a.wybor15
{
	display: block;
}
.ikona
{
	float: left;
	width: 30px;
	text-align: center;
}
.ikona:hover
{
	background-color: white;
	border-radius:100px;
	border-width: 0.5px;
	border-style: solid;
}
.pasek
{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 350px;
	background-color: #FF0006;
	color: white;
	padding-left:30px;
}

#opis
 {
	 float:left;
	width: 640px;
	height: 112px;
	padding: 2px;
	background-color: rgba(168,181,176,0.1);
	border-radius:5px;
}


.zdjecie 
{
	float:left;
	width:160px;
	height:112px;
	background-color: none;
	transition-duration:2s;
    -webkit-transition-duration:2s
}
.zdjecie:hover{
	
	transform: scale(1.15);
}

.opis1
 {	
	margin-top: 10px; 
	float: left;
	width: 800px;
	height: 112px;
	padding: 2px;
	background-color: rgba(168,181,176,0.1);
	border-radius: 5px;
}

.zdjecie1 {
	float:left;
	width:160px;
	height:152px;
	background-color: none;
}

.tekst
{
	color: black;
	text-align: center;
	float: left;
	margin-left: 2px;
	width: 618px;
	font-family: 'Play', sans-serif;
	font-size: 22px;
	line-height: 28px;
	padding: 10px;
	transition-duration:1s;
    -webkit-transition-duration:1s
}

.tekst:hover
{
	transform: scale(1.05);
}
	
}
#opisy
{
	float: left;
	width: 800px;
}
#reklama{
	margin-left: 8px;
	margin-right: 36px;
	float: right;
	width: 150px;
	height: 494px;
	background-color: rgba(168,181,176,0.5);
}

.rektxt
{
	font-family: 'Play', sans-serif;
	font-size: 26px;
	line-height: 28px;
}
.fot
{
	margin-top: 10px;
	width: 960px;
	background-color: #A8B5B0;
	text-align: center;
	padding: 2px;
	padding-bottom: 10px;
	padding-top: 10px;
	opacity: 0.5;
}



/*Historia*/


.przycisk
{
	
	color:black;
	margin: 2px;
	border-radius:10px;
	border-style:solid;
	float: left;
	width: 150px;
	text-align: center;
	font-size: 20px;
	
}
.opishis
{
	float:left;
	width: 784px;
	padding: 10px;
	background-color: rgba(168,181,176,0.1);
	border-radius:5px;
	font-family: 'Play', sans-serif;
	font-size: 23px;
	line-height: 30px;
}
.pasek1
{
	float: left;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 350px;
	background-color: #FF0006;
	color: white;
	padding-left:30px;
}


